<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>haha</title>
</head>
<body>

<input type="text" class="haha" id="kiki">
<input type="button" id="sese" value="点我呀" onclick="sese()">
</body>
<script>
/*
 document.querySelector("#sese").onclick = function(){
        console.log("OK");
    }
*/
    function sese(){

        var a = document.querySelector("#kiki").value
        console.log(a)
        b = {"12":45,"34":"shazi"}
        console.log(b["12"])
    }
</script>
</html>